[submodule "third_party/openssl-wasm"]
	path = third_party/openssl-wasm
	url = https://github.com/jedisct1/openssl-wasm
[submodule "third_party/libsodium.js"]
	path = third_party/libsodium.js
	url = https://github.com/jedisct1/libsodium.js.git
