/googletest/
/build-wasm-debug*
/build-wasm-release*
/build-native-debug*
/build-native-release*
/vcpkg_installed/
/libpastel.a
/libpastel_wasm.js
/libpastel_wasm.wasm
/libpastel_wasm.wasm.map
/python_bindings/venv
/python_bindings/build
/python_bindings/libpastelid.egg-info/
python_bindings/setup.py
